/*global*/

/*head*/
/*nav*/
a {
    text-decoration: none;
    
    
    
}
li {
    list-style: none;
    display: inline-block;
}

img {
    width:55%;
    border: 5px black double;
}

img:hover {
    border: 10px red double;
  
    
}
/*body*/
body {
font-family: 'Rock Salt', cursive;
background: background: -webkit-linear-gradient(90deg, #7b4397 10%, #dc2430 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #7b4397 10%, #dc2430 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #7b4397 10%, #dc2430 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #7b4397 10%, #dc2430 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #7b4397 10%, #dc2430 90%); /* W3C */
/*  margin: 0 100px 0 100px;*/
/*    padding: 50px 50px*/
  
    

}



/*main*/


